.portfolio {
  width: 100%;
  height: 500px;
 
  position: relative;
  @include responsive(765px) {
    &::before {
      width: 0;
      height: 0;
      display: none;
    }
    &::after {
      width: 0;
      height: 0;
      display: none;
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background: $white;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
   
    top: 0;
    right: 0;
    z-index: -1;
  }
  &__section {
    @include flexVertical;
    height: 500px;
    width: 100%;
    z-index: 2;
    @include responsive(765px) {
      margin-top: 700px;
    }
  }

  &__content {
    &-h6 {
      color: $green;
      font-weight: 300;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 14px;
      margin-bottom: 5px;
      @include responsive(765px) {
        text-align: center;
      }
    }
    &-h3 {
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-shadow: 0 8px rgba(0, 0, 0, 0.05);
      @include responsive(765px) {
        font-size: 30px;
        padding-left: 50px;
      }
    }
  }
  &__card {
    background: $white;
    text-align: center;
    padding-bottom: 15px;
    @include responsive(765px) {
      margin-top: 50px;
    }
    &-img img {
      width: 100%;
      height: auto;
      @include responsive(765px) {
        width: 300px;
      }
    }
  }
  &-name {
    font-size: 18px;
  }
  &-expert {
    color: $silver;
    font-size: 14px;
  }
}

.text_card_container{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  @media (min-width: 600px) and (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 160px;
  }
}

.text_container{
  grid-column: span 3;


  @media screen and (max-width: 768px) {
    grid-column: span 12; // On smaller screens, the left side spans the full width
  }
}
.card_container{
  grid-column: span 9; // Right side spans 9 columns
  gap: 10px; //
  @media screen and (max-width: 768px) {
    grid-column: span 12; // On smaller screens, the right side spans the full width
   
  }
}


.portfolio__card {
  .portfolio__card-img {
    position: relative;
    overflow: hidden;
    .image {
      width: 100%;
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.1); // Adjust the scaling factor as needed
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7); // Adjust the background color and opacity as needed
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s;
      h5, p {
        color: #fff; // Adjust text color as needed
        margin: 0;
        padding: 10px;
        text-align: center;
      }
    }
    &:hover .overlay {
      opacity: 1;
    }
  }
}


